body{
    background-color: #407373;
    text-align: center
    
}
h1, h2{
    background-color: #7CA67F;
    color: #030C0D;
    text-align: center;
}
p{
    
    color: #2E402D;
    font-size:1.1em;
}
ol{

    list-style-position: inside;
    
    font-family: Lucida Calligraphy;
    

}
blockquote p{
    text-align: justify;
    line-height: 01em;
}
a{
    color: #C2D9BF;
}
cite{
    font-family: Lucida Calligraphy;

}
.align{
 text-align: center;
}